doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/dist/css/style.css')
  body
    .container
      .row
        #root.col-md-5.col-center

    script(src='/dist/js/vendorBundle.js')
    script(src='/dist/js/appBundle.js')
